@font-face {
   font-family: Avenir Next;
   src: url('../../font/AvenirNextLTPro-Regular.otf');
}

* {
   margin: 0;
   padding: 0;
}

html {
   overflow-x: hidden;
}

.top--bar--nav {
   max-height: 45px;
   text-align: center;
   margin: 0;
   padding: 5px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-content: center;
   background: #1773B0;
}

.top--bar--nav h5 {
   font-family: "Oswald", sans-serif;
   font-size: 18.2px;
   line-height: 22.1px;
   word-break: break-word;
   color: rgb(255, 255, 255);
   letter-spacing: 1px;
}

nav.navbar {
   background: #000;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   padding: 0;
}

nav.navbar.height--fixed {
   height: 10vh;
   overflow: hidden;
}

nav.navbar .nav-link {
   line-height: calc(1 + 0.3 / 1.0);
   transition: text-decoration .1s ease;
   padding: 1.2rem;
   text-decoration: none;
   color: rgba(255, 255, 255, .75) !important;
   font-size: 14px;
   font-family: "Avenir Next", sans-serif;
   letter-spacing: 0.6px;
   font-weight: 500;
}

nav.navbar .nav-link.active,
nav.navbar .nav-link:hover {
   transition: text-decoration .1s ease;
   color: rgba(255, 255, 255, 1) !important;
   text-decoration-thickness: 0.2rem;
   text-decoration: underline;
   text-underline-offset: 0.3rem;
}

nav.navbar .dropdown-menu {
   background: #000;
   padding: 1.4rem 0;
   transform: translateY(-0.5rem);
   border-radius: 0;
   border-color: rgba(255, 255, 255, 0.1);
   border-style: solid;
   border-width: 1px;
   box-shadow: 0px 4px 5px rgba(255, 255, 255, 0.0);
}

nav.navbar .dropdown-menu .dropdown-item {
   line-height: calc(1 + 0.3 / 1.0);
   text-decoration: none;
   color: rgba(255, 255, 255, .75) !important;
   font-size: 14px;
   font-family: "Avenir Next", sans-serif;
   letter-spacing: 0.6px;
   font-weight: 500;
   justify-content: space-between;
}

nav.navbar .dropdown-menu .dropdown-item:hover {
   color: rgba(255, 255, 255, 1) !important;
   background: transparent;
}

.main--logo--nav {
   max-width: 120px;
}

.main--logo--nav img {
   width: 100%;
}

.welcome--screen {
   height: 100vh;
   background: #000;
}

.welcome--screen--card {
   width: 100%;
   transform: translate(-50%, -50%);
   top: 55%;
   left: 50%;
   position: absolute;
   max-width: 600px;
}

.welcome--screen--card .card {
   background: #1F1F21;
   border: 0;
   border-radius: 0;
}

.welcome--screen--card .card .card-header {
   background: #1773B0;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   text-align: center;
   border-radius: 0;
}

.welcome--screen--card .card .card-header .card-title {
   font-family: "Oswald", sans-serif;
   font-size: 24px;
   line-height: 22.1px;
   word-break: break-word;
   color: rgb(255, 255, 255);
   letter-spacing: 1px;
}

.welcome--screen--card--test .card {
   background: #1F1F21;
   border: 0;
   border-radius: 0;
}

.welcome--screen--card--test .card .card-header {
   background: #1773B0;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   text-align: left;
   border-radius: 0;
}

.welcome--screen--card--test .card .card-header .card-title {
   font-family: "Oswald", sans-serif;
   font-size: 24px;
   line-height: 22.1px;
   word-break: break-word;
   color: rgb(255, 255, 255);
   letter-spacing: 1px;
}

.welcome--screen--card--test .card .project--details .form-label {
   font-family: "Oswald", sans-serif;
   font-size: 18px;
   line-height: 22.1px;
   color: rgb(255, 255, 255);
   letter-spacing: 1px;
   margin-bottom: 15px;
}

.welcome--screen--card--test .card .project--details .form-control {
   background: #000;
   border: 0;
   border-radius: 0;
   color: #fff;
   min-height: 50px;
   font-family: "Avenir Next", sans-serif;
   font-size: 16px;
}

.welcome--screen--card--test .card .project--details input[type=file] {
   min-height: auto;
}

.welcome--screen--card .card .project--details .form-label {
   font-family: "Oswald", sans-serif;
   font-size: 18px;
   line-height: 22.1px;
   color: rgb(255, 255, 255);
   letter-spacing: 1px;
   margin-bottom: 15px;
}

.welcome--screen--card .card .project--details .form-control {
   background: #000;
   border: 0;
   border-radius: 0;
   color: #fff;
   min-height: 50px;
   font-family: "Avenir Next", sans-serif;
   font-size: 16px;
}

.btn--primary--custom,
.btn--primary--custom--v2 {
   background: #0070BC;
   color: rgb(255, 255, 255);
   border: 0;
   border-radius: 0;
   font-family: "Avenir Next", sans-serif;
   font-size: 15px;
   font-weight: 500 !important;
   letter-spacing: 1px;
   line-height: 18px;
   padding: 15px 25px;
   width: 100%;
}

.btn--primary--custom:hover {
   background: #000;
   color: #fff;
}

.btn--primary--custom--v2:hover {
   background: #1F1F21;
   color: #fff;
}

.statistics--summary {
   display: flex;
   align-items: center;
   justify-content: center;
}

.statistics--icon--nav {
   color: #1773B0;
   fill: #1773B0;
   margin-right: 10px;
}

.statistics--text--nav {
   font-family: 'Avenir Next', sans-serif;
   font-size: 18px;
   color: #fff;
}

/* .main--canvas {
   position: relative;
} */
.main--canvas--body {
   display: grid;
   grid-template-columns: 70vw 30vw;
}

.main--canvas--ship {
   width: 400px;
   position: absolute;
   left: 250px;
   top: 120px;
   transform: rotate(-90deg);
}
/* 
.main--canvas--ship {
   width: 400px;
   position: absolute;
   left: 50%;
   top: 60%;
   transform: translate(-50%, -50%);
} */

.side--bar {
   height: 90vh;
   overflow-y: scroll;
   overflow-x: hidden;
   background: #000;
   padding: 0px 15px;
}

.menu {
   margin: 5px 5px 15px 5px;
   background: #000;
   width: 100%;
   /* position: fixed; */
   /* z-index: 999; */
}

.sidebar--tab--selector {
   background: #141414;
   color: #fff !important;
   border: 0;
   border-radius: 0;
   font-family: "Avenir Next", sans-serif;
   font-size: 14px;
   font-weight: 500 !important;
   letter-spacing: 1px;
   line-height: 16px;
   padding: 10px 25px;
   margin-right: 5px;
}

.sidebar--tab--selector--active {
   background: #0070BC;
   color: #fff !important;
   border: 0;
   border-radius: 0;
   font-family: "Avenir Next", sans-serif;
   font-size: 14px;
   font-weight: 500 !important;
   letter-spacing: 1px;
   line-height: 16px;
   padding: 10px 25px;
   margin-right: 5px;
}

/* .products--bar,
.summary--bar {
   margin-top: 50px;
} */
.card.summary--bar--card {
   border: 0 !important;
   border-radius: 0 !important;
   box-shadow: none !important;
   background: transparent !important;
}

.card-body.summary--bar--card--body {
   padding: 0 !important;
}

.card.summary--bar--card .summary--bar--card--footer {
   border: 0 !important;
   border-radius: 0 !important;
   box-shadow: none !important;
   background: transparent !important;
   padding: 0;
}

.summary--bar--card--body--statistics {
   padding: 15px;
   margin-bottom: 15px;
   background: #141414;
}

.summary--bar--card--body--statistics--row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 15px;
}

.summary--bar--card--body--statistics h5 {
   font-family: "Oswald", sans-serif;
   font-size: 16px;
   line-height: 22.1px;
   word-break: break-word;
   color: rgb(255, 255, 255);
   letter-spacing: 1px;
}

.summary--bar--card--body--statistics p {
   font-family: "Avenir Next", sans-serif;
   font-size: 16px;
   font-weight: 800;
   line-height: 22.1px;
   color: rgb(255, 255, 255);
   letter-spacing: 1px;
   margin: 0;
}

.summary--bar--card--body--prod {
   margin: 0 0 15px 0 !important;
}

.card.summary--bar--card--body--prod {
   border: 0 !important;
   border-radius: 0 !important;
   box-shadow: none !important;
   background: #141414;
   padding: 15px;
}

.card.summary--bar--card--body--prod .card-title {
   font-family: "Oswald", sans-serif;
   font-size: 20px;
   line-height: 22.1px;
   word-break: break-word;
   color: rgb(255, 255, 255);
   letter-spacing: 1px;
   margin-bottom: 15px
}

.card.summary--bar--card--body--prod .card-text {
   font-family: "Avenir Next", sans-serif;
   font-size: 16px;
   font-weight: 800;
   line-height: 22.1px;
   color: rgb(255, 255, 255);
   letter-spacing: 1px;
   margin: 0;
}

.card.summary--bar--card--body--prod .img--card {
   min-height: 120px;
   display: flex;
   align-items: center;
   justify-content: start;
}

.card.summary--bar--card--body--prod img {
   width: 100%;
}

/* .card.summary--bar--card--body--prod .card-img img {
   width: 100%;
} */
.card.products--bar--card {
   background: #141414;
   box-shadow: none !important;
   border: 0 !important;
   border-radius: 0 !important;
   position: relative !important;
   padding: 10px;
}

.card.products--bar--card .card-img {
   min-height: 180px;
   display: flex;
   align-items: center;
   padding: 10px;
   margin-bottom: 15px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 0;
}

.card.products--bar--card .card-img img {
   width: 100%;
}

.card.products--bar--card .card-body {
   padding: 0;
}

.card.products--bar--card .card-title {
   font-size: 16px;
   color: #fff;
   font-family: "Oswald", sans-serif;
   font-weight: 500 !important;
   letter-spacing: 1px;
   line-height: 18px;
   margin-bottom: 15px;
   text-align: center;
}

.card.products--bar--card .card-body {
   color: rgb(255, 255, 255);
   font-family: "Avenir Next", sans-serif;
   font-size: 14px;
   font-weight: 500 !important;
   letter-spacing: 1px;
   line-height: 18px;
}

.card-detail.popUp--card--detail .card-body {
   padding: 15px;
}

.card-detail.popUp--card--detail .card-title {
   font-size: 22px;
   color: #fff;
   font-family: "Oswald", sans-serif;
   font-weight: 500 !important;
   letter-spacing: 1px;
   line-height: 18px;
   margin-bottom: 30px;
}

.popUp--card--detail--stats {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 8px;
}

.popUp--card--detail--stats p {
   font-family: "Avenir Next", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 22.1px;
   color: rgb(255, 255, 255);
   letter-spacing: 1px;
   margin: 0;
}

/* 
.image--table {
       width: 100%;
    height: 100%;
    display: table;
    text-align: end;
}

.image--table--row {
   display: table-cell;
    vertical-align: middle;
} */